body {

  background-image: url('../picture/background3.jpg') ;
  background-repeat: round;
}
.email-font {
  display: inline-flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fee440;
  background-color: rgb(13, 14, 14);
  border: solid white;
  border-radius: 20px;
  
}
.navbar-brand {
  font-size: 30px;
}
  .card-title{
    font-size: 100%;
  }

  .card-body{
    font-size: 100%;
  }
.product-detail-area {
    background-size: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
    height: fit-content;
}

  .product-detail-area {
      background-size: auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      width: 100%;
      height: fit-content;
  }
  
  .size-button-area {
    font-size: 40px;
  }
  
  .add-cart{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
  }
  
  .qt {
    font-size: 15px;
    line-height: 25px;
    width: 50px;
    text-align: center;
  }
  
  .qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 20px;
    font-weight: 300;
    height: 100%;
    padding: 10px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
  }
  
  .qt-plus:hover, .qt-minus:hover {
    background: #53b5aa;
    color: #fff;
    cursor: pointer;
  }
  
  .qt-plus {
    line-height: 25px;
  }
  
  .qt-minus {
    line-height: 25px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
  .topic {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    width: 1600px;
  }
  .bi {
    font-size: 40px;
    color: white;
    margin: 5px;
  }
  .viewall-button {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .viewall-button > .btn {
    font-size: 3rem;
  }


  .selected{
    border-width: 5px;
    border-color: aquamarine;
  }
  .navbar {
    width: 1600px;
    padding: 0px;
    font-size: 30px;
  }
  .first {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
  }